DISCORD_TOKEN = "YOUR_DISCORD_BOT_TOKEN"
DISCORD_TOKEN_DEV = "YOUR_DISCORD_BOT_TOKEN_FOR_DEV"

IS_DEV = "true"

GUILD_ID = "GUILD_ID_OF_YOUR_DISCORD_SERVER"

ANTI_BOT_CHANNEL_ID = "ANTI_BOT_CHANNEL_ID_OF_YOUR_DISCORD_SERVER"

MODERATION_CHANNEL_ID = "MODERATION_CHANNEL_ID_OF_YOUR_DISCORD_SERVER"
MESSAGES_CHANNEL_ID = "MESSAGES_CHANNEL_ID_OF_YOUR_DISCORD_SERVER"
USER_CHANNEL_ID = "USER_CHANNEL_ID_OF_YOUR_DISCORD_SERVER"
LEVELS_CHANNEL_ID = "LEVELS_CHANNEL_ID_OF_YOUR_DISCORD_SERVER"

ROLES_MESSAGE_ID = "ROLES_MESSAGE_ID_OF_YOUR_DISCORD_SERVER"